<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Nhân Viên</title>
    <!-- MDBootstrap CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/staff/home.css">
</head>
<body>
    <!-- Header -->
    <header>
        Hello {{current_user.first_name}}, Chúc bạn một ngày làm việc tốt lành!!
        <a href="{{ url_for('logout') }}" class="btn btn-primary ms-4 btn-custom fs12 text-blue">Đăng xuất</a>
    </header>
    {%block content required%}
    {%endblock%}

    <footer>
        &copy; 2024 Hệ Thống Quản Lý Nhà Sách
    </footer>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"
    ></script>

    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>
