<nav class="navbar navbar-expand-lg bg-body-tertiary p-3 bg-blue min-vw-100">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            {% if current_user.is_authenticated %}
            Hi {{ current_user.first_name }}!
            {% if current_user.avatar%}
            <img src={{current_user.avatar}} class="rounded-circle shadow-4 ms-3" style="width: 40px" alt="Avatar"/>
            {% endif %}
            <div class="position-relative">
                <a href="/cart" class="ms-3"><i class="fas fa-cart-shopping fs-4"></i></a>
                <div class="cart-quantity-badge">{{cart_total_quantity}}</div>
            </div>
            <a href="{{ url_for('logout') }}" class="btn btn-primary ms-4 btn-custom fs12 text-blue">Đăng xuất</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="btn btn-primary btn-custom fs12 text-blue">Đăng nhập</a>
            <a href="{{ url_for('signup') }}" class="btn btn-primary ms-3 btn-custom fs12 text-blue">Đăng ký</a>
            {% endif %}
        </div>
    </div>
</nav>